.app {
  padding: 0;
  margin: 0;
  width: 100%;
}
main {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem;
  background: var(--blue-dark);
  color: white;
  position: sticky;
  top: 0;
  z-index: 50;
  box-sizing: border-box;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.logo-text {
  font-size: 1.4rem;
  font-weight: 700;
}

.logo-cross {
  color: var(--gold);
  font-size: 1.2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-item {
  color: white;
  font-weight: 500;
  position: relative;
  padding-bottom: 0.2rem;
}

.nav-item.active {
  border-bottom: 2px solid var(--gold);
}

.nav-item:hover {
  color: var(--gold);
}

.nav-actions {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-links {
    gap: 1rem;
  }

  .navbar {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}